<div class="jumbotron">
     <h2 class="title">专为手艺人的网站</h2>
     <br>
    <p class="slogan">在这里，你的厨艺能得到应有的尊重

     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Searching···</a></p>
   </div>


<!--还得继续修改文案。不过在哪里改字体呢？-->
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">日式料理</h2>
          <p class="lead">如果你懂三文鱼的脉络<br>
            如果你懂大米的呼吸<br>
            如果你懂日本的文化<br>
          <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">  Come On！</a></p>

        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic3.jpeg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">意式简厨</h2>
          <p class="lead">如果你懂牛排的温度<br>
            如果你懂意粉的粘度<br>
            如果你懂意式的艺术<br>
            <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">We Need You! </a></p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">中式韵味</h2>
          <p class="lead">如果你懂五味的协调<br>
          如果你懂荤素的均衡<br>
          如果你懂中国的味蕾<br>
          <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">We Want You! </a></p>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic9.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

<!--以下是三个小图标的代码-->
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fewh2e9duxj30s70hnjzq.jpg" alt="search" class = "img-thumbnail">

              <h4>He said: <br>
                Thanks for CJ.<br>
                More respect,More earnest！</h4>

          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fewh2bn8jhj30hs0qrgv8.jpg" alt="bid" class = "img-thumbnail">

              <h4>他说：<br>
                Cook Job为手艺人找到属于饮食艺术的天空</h4>

          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fewh2v0lxnj30s60hiqdz.jpg" alt="heart" class = "img-thumbnail">

              <h4>He said：<br>
                The most important thing is that You find a job which is very need you!</h4>

          </div>
        </div>
      </div>
    </div>
  </section>
